@model IEnumerable<ExperienceViewModel>

@{
    ViewData["Title"] = "Experiences";
}

<div cllas="page">
    <div class="page-header d-flex justify-content-between align-items-center">
        <h1 class="page-title">Experiences</h1>
        <a href="Experience/Create" class="btn btn-primary">Update List Of Experience</a>
    </div>
    <div class="page-content">
        <div class="item-list">
            @foreach (var experience in Model)
            {
                <div class="item">
                    <h3>@experience.Jobtitle | @experience.Employer</h3>
                    <h4>@experience.DateFrom | @experience.DateTo</h4>
                    <p>@experience.Description</p>
                </div>
            }
        </div>
    </div>
</div>
