@model BasicProfileViewModel

@{
    ViewData["Title"] = "View CV";
}

<div cllas="page">
    <div class="page-header">
        <h1 class="page-title">@Model.FullName - CV</h1>
    </div>
    <div class="page-content">
        <section class="section basic-profile-section">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h2>Basic Information</h2>
                <a asp-controller="BasicProfile" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
            </div>
            <div class="section-content">
                <h2>@Model.FullName</h2>
                <p>@Model.Email</p>
                <p>@Model.Phone</p>
                <p>@Model.DisplayDate</p>
                <p>@Model.Location</p>
            </div>
        </section>
        <section class="section experience-section">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h2>Experiences</h2>
                <a href="/BasicProfile/@Model.Id/Experience/Create" class="btn btn-primary">Update List Of Experiences</a>
            </div>
        </section>
    </div>
</div>